target/
backend/target/
*.class
*.log

.env
!.env.example

.idea/
*.iml
.vscode/
.classpath
.project
.settings/

Thumbs.db
.DS_Store

mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
